@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body {
      font-family: "Raleway", sans-serif;
      background-color: #f0f0f0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background: linear-gradient(to bottom, #D9D9D9 , #0A212C 90%, #06141B);
  }
  
  .login-container {
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      width: 300px;
  }
  
  h2 {
      margin-bottom: 20px;
  }
  
  .input-group {
      margin-bottom: 15px;
  }
  
  .input-group label {
      display: block;
      margin-bottom: 5px;
  }
  
  .input-group input {
      width: 100%;
      padding: 8px;
      box-sizing: border-box;
  }
  
  button {
      width: 100%;
      padding: 10px;
      background-color: #007BFF;
      border: none;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
  }
  
  button:hover {
      background-color: #0056b3;
  }
  
  .mensagemErro {
      color: red;
      margin-top: 10px;
      display: none;
  }
  